extends ../components/base/layout

block variables
  - const title = "О нас - КЗГУ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const activeState = true
  - const currentUrl = "catalog.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    //- +intro()
    +breadcrumbs([{link: "index.html", title: "Главная"}, {link: "catalog.html", title: "Каталог продукции"}])
    +catalog()
    +consult(false, false, {formTitle: 'Нужна консультация или расчет стоимости?', formNote: 'Оставьте заявку и наш специалист<br>перезвонит вам в ближайшее время'})
    +seo()

block modals
