extends ../components/base/layout

block variables
  - const title = "О нас - КЗГУ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "news-item.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    //- +intro()
    +breadcrumbs([{link: "index.html", title: "Главная"}, {link: "news.html", title: "Новости"}, {link: "news-item.html", title: "Произвели дизельный генератор для ООО «Татнефть»"}])
    +news-item()
    +all-news(similarnews)
    +consult(false, false, {formTitle: 'Нужна консультация или расчет стоимости?', formNote: 'Оставьте заявку и наш специалист<br>перезвонит вам в ближайшее время'})

block modals
