extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "Каталог — catalog.html",
        src: "catalog.html"
      },
      {
        name: "Каталог категория — categorie.html",
        src: "categorie.html"
      },
      {
        name: "Карточка товара — product.html",
        src: "product.html"
      },
      {
        name: "О компании — company.html",
        src: "company.html"
      },
      {
        name: "Новости — news.html",
        src: "news.html"
      },
      {
        name: "Новость — news-item.html",
        src: "news-item.html"
      },
      {
        name: "Проекты — projects.html",
        src: "projects.html"
      },
      {
        name: "Проект — project.html",
        src: "project.html"
      },
      {
        name: "Контакты и доставка — contacts.html",
        src: "contacts .html"
      },
    ]

  main
    .container
      img(src="img/content/logo.png" width="183" alt="Казанский завод генераторных установок")
      h1 Список страниц
      ol
        each page in pages
          li
            a(href= page.src)= page.name
