mixin all-news(data)
  section.all-news
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container

      .all-news__content
        h1.all-news__title.title.title--h1 Новости

        .all-news__wrapper
          each news in data
            +news-card(news)
