mixin banner()
  section.banner
    .banner__wrapper
      //- вставлять блоки во внешний контейнер неверно
      //- все блоки содержат в себе container без доп класса tutorial__wrapper
      .container
        p КЗГУ гарантирует качество поставляемого оборудования: прежде, чем отправить заказ клиенту, он проходит ряд испытаний и после успешного завершения отправляется заказчику. На нашем предприятии трудятся более 20 человек и каждый из них профессионал своего дела.

    .banner__img
      +img("content/company", "banner-img", "png", 537, 350, "Трансформатор")
