mixin contacts()
  section.contacts
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h1.contacts__title.title.title--h1 Контакты
      ul
        li 8 (800) 700 - 42 - 67
        li Казань, ул. Мазита Гафури, д. 50
        li ikuznetsov@kzgu-generacia.ru
        li Время работы: Будние: 9:00-18:00
      .contacts__map

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5338.286268631291!2d49.09638760856444!3d55.76765830239278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eacf8474bd655%3A0xf039327f4ada5c75!2z0YPQuy4g0JzQsNC30LjRgtCwINCT0LDRhNGD0YDQuCwgNTAsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwg0KDQvtGB0YHQuNGPLCA0MjAxMDg!5e0!3m2!1sru!2sus!4v1683810521775!5m2!1sru!2sus" width="1400" height="580" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


      //- p(style="margin-top: 40px;") Текст&nbsp;с&nbsp;мнемониками

      //- p(style="margin-top: 40px;") Пример использования +img()
      //- p(style="margin-bottom: 40px;")
      //-   +img("content", "placeholder", "png", 120, 120, "Пример")
