mixin filter()
  section.filter
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h1.filter__title.title.title--h1 Дизельные генераторы

      +power-search()

      .filter__wrapper

        +filter-form()

        .filter__table

          +engine-table()
