mixin gallery()
  section.gallery
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h2.gallery__title.title.title--h1 Фото с производства
      .gallery__wrapper
        .gallery__image-wrapper
          +img('slides/company', 'photo-1', 'png', 124, 85)

        .gallery__preview
          .gallery__image-preview.is-active
            +img('slides/company', 'photo-1', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-2', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-3', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-4', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-5', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-6', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-7', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-8', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-9', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-10', 'png', 124, 85)
          .gallery__image-preview
            +img('slides/company', 'photo-11', 'png', 124, 85)
