mixin info()
  section.info
    .info__bg-img
      +img('content', 'service_bg_img', 'png', 1920, 800)
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h2.info__title.visually-hidden Информация о нас
      .info__content
        .info__item
          h3.info__title.title.title--h3 Гарантия<br> и сервис
            +icon('icon-star', 52, 50)
          .info__text-wrapper
            p Даем гарантию до 5 лет и постгарантийное обслуживание. Работаем «под ключ», вам достаточно иметь ТЗ или только идею. Мы сделаем, сделаем лучшее предложение по цене и качество.
            p Не ждете по несколько часов или дней, пока вам вам направят КП. Отвечаем на вашу заявку в течение 10 минут и отправляем детальное КП с расчетом в этот же день.

        .info__item
          h3.info__title.title.title--h3 Доставка<br> и оплата
            +icon('icon-delivery', 70, 42)
          .info__text-wrapper
            p Даем гарантию до 5 лет и постгарантийное обслуживание. Работаем «под ключ», вам достаточно иметь ТЗ или только идею. Мы сделаем, сделаем лучшее предложение по цене и качество.
            p Не ждете по несколько часов или дней, пока вам вам направят КП. Отвечаем на вашу заявку в течение 10 минут и отправляем детальное КП с расчетом в этот же день.

        .info__item
          h3.info__title.title.title--h3 Лицензии<br> и сертификаты
            +icon('icon-licence', 35, 65)
          .info__text-wrapper
            p Даем гарантию до 5 лет и постгарантийное обслуживание. Работаем «под ключ», вам достаточно иметь ТЗ или только идею. Мы сделаем, сделаем лучшее предложение по цене и качество.
            p Не ждете по несколько часов или дней, пока вам вам направят КП. Отвечаем на вашу заявку в течение 10 минут и отправляем детальное КП с расчетом в этот же день.
