mixin last-news()
  section.last-news
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .last-news__content
        .last-news__heading
          h2.last-news__title.title.title--h1 Последние<br> новости
          +btn({text: "Смотреть все", href: "news.html"}).btn--blue.last-news__btn

        .last-news__wrapper
          each news in lastnews

            +news-card(news)
