mixin mainscreen()
  .mainscreen
    +icon("polygon_bg_img1", 356, 556).mainscreen__bg-image.mainscreen__bg-image--left
    +icon("polygon_bg_img2", 1216, 675).mainscreen__bg-image.mainscreen__bg-image--right

    .mainscreen__tabs

      .mainscreen__tabs-content
        .container
          .mainscreen__tab-content.is-active
            .mainscreen__tabs-desc
              h1.mainscreen__title.title.title--h1 Дизельные генераторы для организации основного, резервного и аварийного электроснабжения
              p.mainscreen__paragraph Популярные модели дизель-генераторов всегда в наличии и доступны для скоростного заказа

              .mainscreen__wrapper
                +btn({text: "Перейти в каталог", href: "catalog.html"}).btn--blue.mainscreen__btn
                span Гарантия 5 лет на всю продукцию
            +img("content", "gen_index", "png", 504, 445).mainscreen__tabs-img

          .mainscreen__tab-content
            .mainscreen__tabs-desc
              h1.mainscreen__title.title.title--h1 Дизельные генераторы для организации основного, резервного и аварийного электроснабжения
              p.mainscreen__paragraph Популярные модели дизель-генераторов всегда в наличии и доступны для скоростного заказа

              .mainscreen__wrapper
                +btn({text: "Перейти в каталог", href: "catalog.html"}).btn--blue.mainscreen__btn
                span Гарантия 5 лет на всю продукцию
            +img("content", "gen_index", "png", 504, 445).mainscreen__tabs-img

          .mainscreen__tab-content
            .mainscreen__tabs-desc
              h1.mainscreen__title.title.title--h1 Дизельные генераторы для организации основного, резервного и аварийного электроснабжения
              p.mainscreen__paragraph Популярные модели дизель-генераторов всегда в наличии и доступны для скоростного заказа

              .mainscreen__wrapper
                +btn({text: "Перейти в каталог", href: "catalog.html"}).btn--blue.mainscreen__btn
                span Гарантия 5 лет на всю продукцию
            +img("content", "gen_index", "png", 504, 445).mainscreen__tabs-img

          .mainscreen__tab-content
            .mainscreen__tabs-desc
              h1.mainscreen__title.title.title--h1 Дизельные генераторы для организации основного, резервного и аварийного электроснабжения
              p.mainscreen__paragraph Популярные модели дизель-генераторов всегда в наличии и доступны для скоростного заказа

              .mainscreen__wrapper
                +btn({text: "Перейти в каталог", href: "catalog.html"}).btn--blue.mainscreen__btn
                span Гарантия 5 лет на всю продукцию
            +img("content", "gen_index", "png", 504, 445).mainscreen__tabs-img

      .mainscreen__tabs-control
        .container
          .mainscreen__tab-control.is-active Дизельные генераторы
          .mainscreen__tab-control Блок-контейнер под оборудование
          .mainscreen__tab-control Блок-контейнер под металлоконструкции
          .mainscreen__tab-control Дополнительное оборудование


