mixin news()
  section.news
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .news__content
        .news__heading
          h2.news__title.title.title--h1 Последние<br> новости
          +btn({text: "Смотреть все"}).btn--blue.news__btn

        .news__wrapper
          .news__item
            .news__img
              time(datetime="2023-21-02").news__date 21.02.2023
              +img('content', 'last-news-item1', 'png', 454, 230)
            p Произвели дизельный генератор для ООО «Татнефть», так же установили блок-контейнер под установку...
            a(href="#") Подробнее

          .news__item
            .news__img
              time(datetime="2023-21-02").news__date 21.02.2023
              +img('content', 'last-news-item2', 'png', 454, 230)
            p Произвели дизельный генератор для ООО «Татнефть», так же установили блок-контейнер под установку...
            a(href="#") Подробнее

          .news__item
            .news__img
              time(datetime="2023-21-02").news__date 21.02.2023
              +img('content', 'last-news-item3', 'png', 454, 230)
            p Произвели дизельный генератор для ООО «Татнефть», так же установили блок-контейнер под установку...
            a(href="#") Подробнее

          .news__item
            .news__img
              time(datetime="2023-21-02").news__date 21.02.2023
              +img('content', 'last-news-item4', 'png', 454, 230)
            p Произвели дизельный генератор для ООО «Татнефть», так же установили блок-контейнер под установку...
            a(href="#") Подробнее
