mixin news-item()
  section.news-item
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container

      h1.news-item__title.title.title--h1 Произвели дизельный генератор для ООО «Татнефть»

      +img("content", "last-news-item1", "png", 1400, 580, "Произвели дизельный генератор для ООО «Татнефть»").news-item__img

      p Задача организации, в особенности же консультация с широким активом позволяет оценить значение систем массового участия. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.

      p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.
