mixin power-search()
  -
    const list = ['9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '8,8 кВа']

  .power-search
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h1.power-search__title.title.title--h1 Дизельные генераторы

      .power-search__type
        p Быстрый подбор по мощности:
        ul.power-search__list
          each item in list
            a(href="#")
              li !{item}
