mixin project-details()
  .project-details
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      p Произведена поставка резервного источника электроснабжения КЗГУ АД-1200-Т400 (1200 кВт) на двигателе Yuchai для объекта OZON в Казани.

      p Дизельная электростанция на раме АД1200 открытая на базе двигателя YUCHAI. Предназначена для выработки электроэнергии резервного источника электропитания:

      ul
        li  для населенных пунктов,
        li  на стройплощадок,
        li  для вахтовых поселков,
        li  для установок сооружений для бурения,
        li  в энергетических системах промышленных и производственных предприятий,
        li  для учреждений образования,
        li  для медицинских учреждений,
        li  для обеспечения функционирования банков, гостиниц, торговых, складских комплексов и т.п.
