mixin seo()
  section.seo
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h2.projects__title.title.title--h1 Seo text
      p Даем гарантию до 5 лет и постгарантийное обслуживание. Работаем «под ключ», вам достаточно иметь ТЗ или только идею. Мы сделаем, сделаем лучшее предложение по цене и качество. Не ждете по несколько часов или дней, пока вам вам направят КП. Отвечаем на вашу заявку в течение 10 минут и отправляем детальное КП с расчетом в этот же день. Даем гарантию до 5 лет и постгарантийное обслуживание. Работаем «под ключ», вам достаточно иметь ТЗ или только идею. Мы сделаем, сделаем лучшее...

      a(href="#") Показать еще
