mixin users()
  .users
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h2.users__title.title.title--h1 Для кого

      .users__info
        .users__item
          +img('content', 'icon_bg_about', 'png', 380, 380)
          span.users__number 01
          +icon("icon-noun-builder", 60, 60)
          p.users__item-name Строительные компании
        .users__item
          +img('content', 'icon_bg_about', 'png', 380, 380)
          span.users__number 02
          +icon("icon-noun-factory", 60, 60)
          p.users__item-name Промышленные предприятия
        .users__item
          +img('content', 'icon_bg_about', 'png', 380, 380)
          span.users__number 03
          +icon("icon-noun-hospital-sign", 60, 60)
          p.users__item-name Медицинские учреждения
        .users__item
          +img('content', 'icon_bg_about', 'png', 380, 380)
          span.users__number 04
          +icon("icon-noun-hotel", 60, 60)
          p.users__item-name Администрации городов
