.badge {
  font-size: 14px;
  line-height: 20px;
  color: $color-blue-whale;
  padding: 5px 15px;
  border-radius: 100px;
  background-color: $color-default-white;

  &--green {
    color: $color-kelly-green;
  }
}
