.btn {
  display: inline-flex;
  padding: 10px 20px;
  transition: all 0.3s ease-out;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.btn--blue {
  background-color: $color-navy-blue;
  padding: 15px 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}
