.btn {
  display: inline-flex;
  padding: 10px 20px;
  transition: all 0.3s ease-out;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.btn--play {
  background-color: transparent;
  padding: 0;
}

.btn--blue,
.btn--grey,
.btn--white {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--blue {
  background-color: $color-navy-blue;
  padding: 15px 0;
  width: 254px;
}

.btn--grey {
  color: rgba(09, 46, 71, 0.35);
  background-color: $color-solitude;
  padding: 15px 45px;
}

.btn--white {
  background-color: $color-default-white;
  color: $color-navy-blue;
  padding: 15px 65px;
}

.btn--slider-prev,
.btn--slider-next {
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: $color-default-white;
  box-shadow: 0px 4px 5px rgba(183, 192, 204, 0.7);
  position: relative;
  transition: all 0.3s ease-out;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 16px;
    stroke: $color-navy-blue;
    transition: all 0.3s ease-out;
  }

  &:hover,
  &:focus {
    background-color: $color-navy-blue;

    svg {
      stroke: $color-default-white;
    }
  }
}

.btn--slider-small {
  width: 30px;
  height: 30px;

  svg {
    width: 4px;
    height: 7px;
  }
}

.btn--slider-next svg {
  transform: translate(-50%, -50%) rotate(180deg);
}

.btn--bluetext {
  padding: 5px 15px;
  background-color: transparent;
  color: $color-navy-blue;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.btn--icon {
  padding: 0;
  background-color: transparent;

  svg {
    fill: rgba(09, 46, 71, 0.35);
  }

  &.is-active {
    svg {
      fill: $color-navy-blue;
      opacity: 1;
    }
  }
}
