.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  padding: size(14px) 0 28px 0;

  @media screen and (max-width: 767px) {
    padding: 4px 0 48px 0;
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    textarea::placeholder {
      color: $color-blue-whale;
      opacity: 50%;
    }

    input::placeholder {
      color: $color-blue-whale;
      opacity: 50%;
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;

      @media (max-width: 1023px) {
        font-size: 12px;
      }
    }

    input,
    textarea {
      flex-grow: 1;
      // max-width: 300px;
      max-width: 478px;
      min-height: 55px;
      margin-left: auto;
      // padding: 10px;
      padding: 15px 20px;
      background-color: $color-solitude;

      // border: 2px solid rgba(#000000, 0.2);
      // border-radius: 5px;
      border: none;
      outline: none;

      transition: border 0.3s ease;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:hover {
        // border: 2px solid rgba(#000000, 0.5);
      }

      &:focus {
        // border: 2px solid rgba(#000000, 0.8);
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .custom-input__label {
    color: $color-navy-blue;
    cursor: pointer;
  }
}

.custom-input {
  display: flex;
  align-items: center;

  svg {
    margin-right: 20px;
    order: -1
  }
}


.custom-input {
  width: 100%;
  input[type="checkbox"] {
    order: -1;
    width: 18px;
    height: 18px;
    max-width: unset;
    min-width: unset;
    flex-grow: unset;
    margin-left: unset;
    margin-right: 10px;
    min-height: unset;
  }

  .custom-input__label {
    padding: 5px 0;
    color: $color-blue-whale;
  }
}
