.engine-table {
  width: 985px;
  margin-bottom: 40px;
  margin-left: auto;

  &__btns-container {
    display: flex;
    margin-bottom: 20px;
    span {
      display: inline-block;
      margin-right: auto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }

    .btn {
      margin-left: 10px;
    }
  }

  table {
    // border-collapse: collapse;
    // border-collapse: separate;
    // border-spacing: 5px;
    width: 100%;
    width: 985px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    // font-weight: 600;
    margin-bottom: 40px;
  }

  tbody tr:nth-child(odd) {
    background-color: $color-solitude;
  }

  tbody tr:nth-child(even) {
    background-color: $color-solitude-3;
  }

  thead tr {
    background-color: $color-navy-blue;
  }

  table td,
  table th {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  table tr {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  table tr th,
  table tr td {
    // min-width: 127px;
    width: 104px;
  }

  table tr th:first-of-type,
  table tr td:first-of-type {
    min-width: 100px;
  }

  table tr th:nth-child(2),
  table tr td:nth-child(2) {
    width: 210px;
  }

  table tr th:last-of-type,
  table tr td:last-of-type {
    width: 255px;
  }

  table tr td:nth-child(2) {
    font-weight: 600;
  }

  table tr td:last-of-type {
    display: flex;
  }

  table thead {
    background-color: $color-navy-blue;
  }

  table th {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: $color-default-white;
    // background-color: $color-navy-blue;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    text-align: left;

    svg {
      min-width: 8px;
      min-height: 4px;
      margin-left: 5px;
      // display: block;
      fill: white;
    }

    &:first-of-type {
      width: 100px;
      svg {
        display: none;
      }
    }
  }

  table tr td:last-of-type {
    justify-content: space-between;
  }

  &__view--grid {
    display: grid;
    grid-template-columns: 325px 325px 325px;
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: 40px;
  }

  &__view {
    display: none;
    &.is-active {
      display: block;
    }
  }
}
