.footer {
  padding: 80px 0;

  background-color: $color-solitude;

  .container {
    display: flex;
  }

  &__wrapper {
    width: 210px;
    margin-right: 145px;

    @media (max-width: 1023px) {
      width: 25%;
      margin-right: 50px;
    }
  }

  &__copyright {
    font-size: 12px;
      line-height: 20px;
      font-weight: 400;

    a,
    span {
      color: $color-blue-whale;
      opacity: 50%;
      margin-bottom: 10px;
      display: inline-block;
    }

    a {
      text-decoration: underline;
    }
  }

  &__contacts {
    width: 275px;
    margin-left: auto;
  }

  &__address,
  &__mail,
  &__times {
    color: $color-blue-whale;
    opacity: 50%;
  }

  &__tel {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    opacity: unset;
    color: $color-blue-whale;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
    opacity: 100%;
  }

  &__social {
    margin-bottom: 30px;

    a {
      opacity: 100%;
    }
  }
}
