.header {
  background-color: $color-default-white;

  .container {
    display: flex;
  }

  &__logo {
    color: $color-default-white;
    margin-right: 80px;

    @media (max-width: 1023px) {
      margin-right: 40px;
    }
  }

  &__btn {
    margin-left: auto;
  }
}
