.last-news {
  padding-top: 150px;
  padding-bottom: 75px;
}

.last-news__content {
  display: flex;
  justify-content: space-between;
}

.last-news__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 928px;
  justify-content: space-between;
}

.last-news__heading {
  width: 355px;
}
