.power-search__type {
  padding: 20px;
  border: 1px solid $color-solitude-2;
  margin-bottom: 40px;

  p {
    margin: 0;
    margin-bottom: 10px;
  }

  .power-search__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    a {
      margin-right: 15px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: $color-navy-blue;
    }
  }
}
