.product {
  padding-bottom: 75px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    width: 453px;
  }

  &__spec,
  &__features,
  &__instock {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  &__spec {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $color-solitude-2;
    margin-bottom: 20px;

    li {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      span {
        font-size: 22px;
        line-height: 30px;
        font-weight: 600;
      }
    }
  }

  .product__features {
    margin: 0;
    padding-left: 20px;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 35px;
  }

  &__instock {
    display: block;
    margin-bottom: 30px;
    color: $color-kelly-green;
  }

  &__btns-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__btn {
    width: 224px;
  }

  &__service {
    span {
      position: relative;
      min-width: 45px;
      min-height: 45px;
      border-radius: 1000px;
      background-color: $color-solitude;
      order: -1;
      margin-right: 20px;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $color-navy-blue;
    }

    p {
      display: flex;
      align-items: center;
      margin: 0;
      margin-bottom: 25px;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    width: 917px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__tabs {
    width: 100%;
  }

  &__tabs-controls {
    display: flex;
    margin-bottom: 25px;
  }

  &__tab-control {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: $color-blue-whale;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border-bottom: 2px solid $color-solitude-2;
    text-align: center;
    display: flex;
    justify-content: center;

    &.is-active {
      border-bottom: 2px solid $color-navy-blue;
    }
  }

  &__tab-content {
    display: none;

    p {
      font-weight: 400;
      margin: 0;
      margin-bottom: 20px;
    }

    P:last-of-type {
      margin-bottom: 0;
    }

    &.is-active {
      display: block;
    }
  }

  &__tab-content table {
    width: 100%;
    border-collapse: collapse;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    tr td {
      padding: 15px 20px;
    }

    tr td:last-of-type {
      text-align: right;
    }

    tr:nth-child(odd) {
      background-color: $color-solitude;
    }

    tr:nth-child(even) {
      background-color: $color-solitude-4;
    }
  }

  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__slider-preview {
    margin-bottom: 40px;
    position: relative;
  }

  &__slider-nav {
    width: 100%;
    width: 917px;
    transform: translateX(-30px);
    position: absolute;
    top: 50%;
    transform: translate(-15px, -50%);
  }

  &__main-img {
    width: 887px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 50px 217px;
    background-color: $color-solitude;
    margin-bottom: 4px;
  }

  &__slide {
    width: 123px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding: 7px 23px;
    background-color: $color-solitude;
  }
}
