.projects {
  padding: 75px;
  padding-bottom: 75px;

  &__slide,
  &__item {
    width: 698px;
  }

  &__item-title {
    width: 287px;
    margin-bottom: 125px;
    color: $color-default-white;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
  }

  &__item-desc {
    color: $color-default-white;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;

    &:hover {
      .projects__item-wrapper {
        opacity: 90%;
      }
    }
  }

  &__item-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: $color-navy-blue;
    opacity: 0;
    transition: all 0.3s ease-out;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
  }

  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__slider-nav {
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__slider {
    position: relative;
  }
}
