.projects {
  padding-top: 75px;
  padding-bottom: 75px;

  &__slide {
    width: 698px;
    margin-bottom: 4px;
  }

  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__slider-nav {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__slider {
    position: relative;
  }

  &--page {
    padding-top: 0;

    .projects__slider-nav {
      display: none;
    }

    .projects__slider-wrapper {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
  }
}
