.title {
  margin: 0;

  &--h1 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 40px;

    @media (max-width: 1023px) {
      font-size: 34px;
      line-height: 42px;
    }
  }

  &--h3 {
    margin: 0;
    font-size: 38px;
    line-height: 45px;
    font-weight: 600;
    color: $color-default-white;

    @media (max-width: 1023px) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &--product {
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }

  &--h4 {
    margin: 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: $color-default-white;
  }
}
