.users {
  padding-top: 150px;
  padding-bottom: 75px;

  &__info {
    display: flex;
    padding-left: 40px;

    @media (max-width: 1439px) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    min-width: 380px;
    height: 380px;
    border-radius: 1000px;
    border: 1px solid $color-solitude-2;
    background-color: $color-default-white;
    margin-left: -40px;

    @media (max-width: 1439px) {
      min-width: 250px;
      width: 250px;
      height: 250px;
    }

    svg {
      top: 123px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      fill: $color-navy-blue;
    }

    img {
      transition: all 0.3s ease-out;
      opacity: 0;

      @media (max-width: 1439px) {
        width: 250px;
        height: 250px;
      }
    }

    &:hover {
      img {
        opacity: 1;
      }

      svg {
        fill: $color-default-white;
      }

      .users__number {
        color: $color-default-white;
      }

      .users__item-name {
        color: $color-default-white;

        @media (max-width: 1439px) {
          color: $color-blue-whale;
        }
      }
    }
  }

  &__number {
    position: absolute;
    opacity: 50%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    transition: all 0.3s ease-out;
  }

  &__item-name {
    position: absolute;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    width: 180px;
    top: 198px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;

    @media (max-width: 1439px) {
      top: 250px;
    }
  }
}
