mixin breadcrumbs(data)

  .breadcrumbs&attributes(attributes)
    .container
      ul.breadcrumbs__list
        each item in data
          li.breadcrumbs__item
            if (item.icon)
              a.breadcrumbs__icon(href!=item.link, aria-label="home")
                +icon(item.icon.name, item.icon.width, item.icon.heigth)
            else
              a.breadcrumbs__link(href!=item.link)!=item.title
