mixin pagination()
  .pagination
    .pagination__wrapper
      a(href="#").pagination__page
        +icon("icon-arrow-left", 11, 16)

      a(href="#").pagination__page 1
      a(href="#").pagination__page 2
      a(href="#").pagination__page 3
      a(href="#").pagination__page 4

      a(href="#").pagination__page
        +icon("icon-arrow-left", 11, 16)
