-
  const lastnews = [
    {
      path: "content",
      image: "last-news-item1",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item2",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item3",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item4",
      format: "png",
      width: "454",
      height: "230"
    },
  ]

-
  const allnews = [
    {
      path: "content",
      image: "last-news-item1",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item2",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item3",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item4",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item1",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item2",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item3",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item4",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item1",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item4",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item1",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item2",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item3",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item4",
      format: "png",
      width: "454",
      height: "230"
    },
    {
      path: "content",
      image: "last-news-item1",
      format: "png",
      width: "454",
      height: "230"
    },
  ]
