-
  const indexSlider = [
    {image: 'product_1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'product_2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    {image: 'product_3', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'product_4', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
  ]

-
  const productTable = [
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
  ]

-
  const productGrid = [
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
  ]
