-
  const projectsHome = [
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
  ]

-
  const projectsAll = [
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
  ]
