-
  const projectsHome = [
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
  ]

-
  const projectsAll = [
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_1",
      format: "png",
      width: "698",
      height: "400"
    },
    {
      path: "content",
      image: "project_2",
      format: "png",
      width: "698",
      height: "400"
    },
  ]

-
  const projectItem = [
    {
      path: "slides/company",
      image: "project_1",
      format: "png",
      width: "123",
      height: "85"
    },
    {
      path: "slides/company",
      image: "photo-2",
      format: "png",
      width: "123",
      height: "85"
    },
    {
      path: "slides/company",
      image: "photo-3",
      format: "png",
      width: "123",
      height: "85"
    },
    {
      path: "slides/company",
      image: "photo-4",
      format: "png",
      width: "123",
      height: "85"
    },
    {
      path: "slides/company",
      image: "photo-5",
      format: "png",
      width: "123",
      height: "85"
    },
    {
      path: "slides/company",
      image: "photo-2",
      format: "png",
      width: "123",
      height: "85"
    },
    {
      path: "slides/company",
      image: "photo-3",
      format: "png",
      width: "123",
      height: "85"
    },
    {
      path: "slides/company",
      image: "photo-4",
      format: "png",
      width: "123",
      height: "85"
    },
  ]
