//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/mainscreen
include ./blocks/users
include ./blocks/bestsellers
include ./blocks/consult
include ./blocks/specialist
include ./blocks/info
include ./blocks/last-news
include ./blocks/projects
include ./blocks/seo
include ./blocks/catalog
include ./blocks/company
include ./blocks/gallery
include ./blocks/reviews
include ./blocks/certificate
include ./blocks/banner
include ./blocks/all-news
include ./blocks/news-item
include ./blocks/project-details
include ./blocks/contacts
include ./blocks/delivery
include ./blocks/power-search
include ./blocks/engine-table
include ./blocks/filter
include ./blocks/product
include ./blocks/engine-list

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/breadcrumbs
include ./mixins/news-card
include ./mixins/pagination
include ./mixins/project-card
include ./mixins/product-card

//- Data

include ./data/newsdata
include ./data/projectsdata
include ./data/productsdata
